.mstheme{
nav-banner-image:url(globanna.gif);
separator-image:url(glohorsa.gif);
list-image-1:url(globul1a.gif);
list-image-2:url(globul2a.gif);
list-image-3:url(globul3a.gif);
navbutton-horiz-normal:url(glohbuda.gif);
navbutton-horiz-hovered:url(glohbuha.gif);
navbutton-horiz-pushed:url(glohbusa.gif);
navbutton-vert-normal:url(glovbuda.gif);
navbutton-vert-pushed:url(glovbusa.gif);
navbutton-vert-hovered:url(glovbuha.gif);
navbutton-home-normal:url(glohomda.gif);
navbutton-home-hovered:url(glohomha.gif);
navbutton-next-normal:url(glonexda.gif);
navbutton-next-hovered:url(glonexha.gif);
navbutton-prev-normal:url(glopreda.gif);
navbutton-prev-hovered:url(glopreha.gif);
navbutton-up-normal:url(gloupda.gif);
navbutton-up-hovered:url(gloupha.gif);
}
UL{
list-style-image:url(globul1a.gif);
}
UL UL{
list-style-image:url(globul2a.gif);
}
UL UL UL{
list-style-image:url(globul3a.gif);
}
.mstheme-bannertxt{
font-family:"Trebuchet MS",Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#000000;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#000000;
}
