vti_encoding:SR|utf8-nl
vti_author:SR|MASTEREO\\varun
vti_modifiedby:SR|EEMML1\\Suresh
vti_timelastmodified:TR|22 Jul 2015 15:35:08 -0000
vti_timecreated:TR|29 Jul 2006 10:37:56 -0000
vti_extenderversion:SR|6.0.2.8161
vti_lineageid:SR|{EDB8854E-BDA6-4419-9D6F-AD9A964B3250}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|29 Jul 2006 10:37:56 -0000
vti_cacheddtm:TX|22 Jul 2015 15:35:08 -0000
vti_filesize:IR|699
