vti_encoding:SR|utf8-nl
vti_author:SR|MASTEREO\\varun
vti_modifiedby:SR|MASTEREO\\varun
vti_timelastmodified:TR|29 Jul 2006 10:37:56 -0000
vti_timecreated:TR|29 Jul 2006 10:37:56 -0000
vti_cacheddtm:TX|29 Jul 2006 10:37:58 -0000
vti_filesize:IR|5406
vti_cachedlinkinfo:VX|S|globannd.gif S|glohbudd.gif S|glohbusd.gif S|glohombd.gif S|glonexbd.gif S|gloprebd.gif S|gloupbd.gif S|gloglob.gif S|glovbudd.gif S|glovbusd.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/global/globannd.gif FSUS|_themes/global/glohbudd.gif FSUS|_themes/global/glohbusd.gif FSUS|_themes/global/glohombd.gif FSUS|_themes/global/glonexbd.gif FSUS|_themes/global/gloprebd.gif FSUS|_themes/global/gloupbd.gif FSUS|_themes/global/gloglob.gif FSUS|_themes/global/glovbudd.gif FSUS|_themes/global/glovbusd.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{8D313E24-B330-4DDB-A366-EE96E01E8B47}
vti_backlinkinfo:VX|
