a:link{
color:#000099;
}
a:visited{
color:#339966;
}
a:active{
color:#99C999;
}
body{
color:#000000;
background-color:#FFFFFF;
}
h1{
color:#000000;
}
h2,marquee{
color:#000000;
}
h3{
color:#000000;
}
h4{
color:#000000;
}
h5{
color:#000000;
}
h6{
color:#000000;
}
LABEL,.MSTHEME-LABEL{
color:#000000;
}
FIELDSET{
border-color:#000099;
color:#000000;
}
LEGEND{
color:#000000;
}
SELECT{
border-color:#BBBBBB;
color:#000000;
}
TABLE{
table-border-color-light:#3366CC;
table-border-color-dark:#000099;
border-color:#000099;
color:transparent;
}
CAPTION{
color:#000000;
}
TH{
color:#000000;
}
HR{
color:#000099;
}
TD{
border-color:#000099;
}
