.mstheme{
nav-banner-image:url(capbanna.gif);
separator-image:url(capsepa.gif);
list-image-1:url(capbul1a.gif);
list-image-2:url(capbul2a.gif);
list-image-3:url(capbul3a.gif);
navbutton-horiz-pushed:url(capnavhs.gif);
navbutton-horiz-normal:url(capnavha.gif);
navbutton-horiz-hovered:url(capnavhh.gif);
navbutton-vert-pushed:url(capnavvs.gif);
navbutton-vert-normal:url(capnavva.gif);
navbutton-vert-hovered:url(capnavvh.gif);
navbutton-home-normal:url(caphomea.gif);
navbutton-home-hovered:url(caphomeh.gif);
navbutton-up-normal:url(capupa.gif);
navbutton-up-hovered:url(capuph.gif);
navbutton-prev-normal:url(capbacka.gif);
navbutton-prev-hovered:url(capbackh.gif);
navbutton-next-normal:url(capnexta.gif);
navbutton-next-hovered:url(capnexth.gif);
}
UL{
list-style-image:url(capbul1a.gif);
}
UL UL{
list-style-image:url(capbul2a.gif);
}
UL UL UL{
list-style-image:url(capbul3a.gif);
}
.mstheme-bannertxt{
font-family:Arial,Helvetica;
font-size:5;
color:#000000;
}
.mstheme-horiz-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-vert-navtxt{
font-family:arial,helvetica;
font-size:2;
color:#FFFFFF;
}
.mstheme-navtxthome{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtup{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtprev{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
.mstheme-navtxtnext{
font-family:arial,helvetica;
font-size:1;
color:#FFFFFF;
}
