vti_encoding:SR|utf8-nl
vti_author:SR|COMPAQ\\varun
vti_modifiedby:SR|COMPAQ\\varun
vti_timelastmodified:TR|14 Dec 2005 07:45:40 -0000
vti_timecreated:TR|14 Dec 2005 07:45:40 -0000
vti_cacheddtm:TX|14 Dec 2005 07:45:42 -0000
vti_filesize:IR|695
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{0EAAB6E8-0F2C-4D5B-9BBD-6EBF2FCA1248}
vti_backlinkinfo:VX|
