vti_encoding:SR|utf8-nl
vti_author:SR|COMPAQ\\varun
vti_modifiedby:SR|COMPAQ\\varun
vti_timelastmodified:TR|14 Dec 2005 07:45:40 -0000
vti_timecreated:TR|14 Dec 2005 07:45:40 -0000
vti_cacheddtm:TX|14 Dec 2005 07:45:42 -0000
vti_filesize:IR|1513
vti_cachedlinkinfo:VX|S|capbanna.gif S|capsepa.gif S|capbul1a.gif S|capbul2a.gif S|capbul3a.gif S|capnavhs.gif S|capnavha.gif S|capnavhh.gif S|capnavvs.gif S|capnavva.gif S|capnavvh.gif S|caphomea.gif S|caphomeh.gif S|capupa.gif S|capuph.gif S|capbacka.gif S|capbackh.gif S|capnexta.gif S|capnexth.gif S|capbul1a.gif S|capbul2a.gif S|capbul3a.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/capsules/capbanna.gif FSUS|_themes/capsules/capsepa.gif FSUS|_themes/capsules/capbul1a.gif FSUS|_themes/capsules/capbul2a.gif FSUS|_themes/capsules/capbul3a.gif FSUS|_themes/capsules/capnavhs.gif FSUS|_themes/capsules/capnavha.gif FSUS|_themes/capsules/capnavhh.gif FSUS|_themes/capsules/capnavvs.gif FSUS|_themes/capsules/capnavva.gif FSUS|_themes/capsules/capnavvh.gif FSUS|_themes/capsules/caphomea.gif FSUS|_themes/capsules/caphomeh.gif FSUS|_themes/capsules/capupa.gif FSUS|_themes/capsules/capuph.gif FSUS|_themes/capsules/capbacka.gif FSUS|_themes/capsules/capbackh.gif FSUS|_themes/capsules/capnexta.gif FSUS|_themes/capsules/capnexth.gif FSUS|_themes/capsules/capbul1a.gif FSUS|_themes/capsules/capbul2a.gif FSUS|_themes/capsules/capbul3a.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{28A317FF-B5C7-4B70-80D0-EB84BB057B63}
vti_backlinkinfo:VX|
