vti_encoding:SR|utf8-nl
vti_author:SR|COMPAQ\\varun
vti_modifiedby:SR|COMPAQ\\varun
vti_timelastmodified:TR|14 Dec 2005 07:45:40 -0000
vti_timecreated:TR|14 Dec 2005 07:45:40 -0000
vti_cacheddtm:TX|14 Dec 2005 07:45:42 -0000
vti_filesize:IR|27272
vti_cachedlinkinfo:VX|S|capglob1.gif S|captext.gif S|capbul2d.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/capsules/capglob1.gif FSUS|_themes/capsules/captext.gif FSUS|_themes/capsules/capbul2d.gif FSUS|_themes/capsules/toolgrad.gif FSUS|_themes/capsules/dot.gif FSUS|_themes/capsules/toolgrad.gif FSUS|_themes/capsules/theme.css FSUS|_themes/capsules/blank.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{BC2A340D-715B-4C41-BFBF-71FDDD27A4CB}
vti_backlinkinfo:VX|_themes/capsules/theme.css
