vti_encoding:SR|utf8-nl
vti_author:SR|COMPAQ\\varun
vti_modifiedby:SR|COMPAQ\\varun
vti_timelastmodified:TR|14 Dec 2005 07:44:30 -0000
vti_timecreated:TR|14 Dec 2005 07:44:30 -0000
vti_cacheddtm:TX|14 Dec 2005 07:44:32 -0000
vti_filesize:IR|1483
vti_cachedlinkinfo:VX|S|axibanr.gif S|axirule.gif S|axibul1.gif S|axibul2.gif S|axibul3.gif S|axihsel.gif S|axihbtn.gif S|axivsel.gif S|axivbtn.gif S|axihom.gif S|axiup.gif S|axibck.gif S|axinxt.gif S|axibul1.gif S|axibul2.gif S|axibul3.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/axis/axibanr.gif FSUS|_themes/axis/axirule.gif FSUS|_themes/axis/axibul1.gif FSUS|_themes/axis/axibul2.gif FSUS|_themes/axis/axibul3.gif FSUS|_themes/axis/axihsel.gif FSUS|_themes/axis/axihbtn.gif FSUS|_themes/axis/axivsel.gif FSUS|_themes/axis/axivbtn.gif FSUS|_themes/axis/axihom.gif FSUS|_themes/axis/axiup.gif FSUS|_themes/axis/axibck.gif FSUS|_themes/axis/axinxt.gif FSUS|_themes/axis/axibul1.gif FSUS|_themes/axis/axibul2.gif FSUS|_themes/axis/axibul3.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{86F5CD93-97EA-4BAD-BE26-63CE4D3D606B}
vti_backlinkinfo:VX|
