vti_encoding:SR|utf8-nl
vti_author:SR|COMPAQ\\varun
vti_modifiedby:SR|COMPAQ\\varun
vti_timelastmodified:TR|14 Dec 2005 07:44:30 -0000
vti_timecreated:TR|14 Dec 2005 07:44:30 -0000
vti_cacheddtm:TX|14 Dec 2005 07:44:32 -0000
vti_filesize:IR|10760
vti_cachedlinkinfo:VX|S|axiglobl.gif S|axibkgnd.gif S|bluedot.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/axis/axiglobl.gif FSUS|_themes/axis/axibkgnd.gif FSUS|_themes/axis/bluedot.gif
vti_extenderversion:SR|5.0.2.2623
vti_lineageid:SR|{2BD9D6BC-7EBF-4609-9992-7437C1B4034C}
vti_backlinkinfo:VX|
