vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|29 Jul 2006 05:25:00 -0000
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|Students.html schedule.htm members.htm
vti_author:SR|COMPAQ\\varun
vti_modifiedby:SR|EEMML1\\Suresh
vti_timecreated:TR|05 Oct 2005 11:25:18 -0000
vti_lineageid:SR|{692CA339-B9F7-4453-924A-BA46324C1FAC}
vti_cacheddtm:TX|29 Jul 2006 05:25:00 -0000
vti_filesize:IR|1533
vti_cachedlinkinfo:VX|S|./star.gif
vti_cachedsvcrellinks:VX|FSUS|src/star.gif
